@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

.nav__link {
  position: relative;
}

.nav__link:after {
  content: "";
  position: absolute;
  background-color: #fff;
  right: 0;
  bottom: -2px;
  height: 2px;
  width: 0;
  transition: all 300ms ease;
}

.nav__link:hover:after {
  left: 0;
  width: 100%;
}

#header {
  height: calc(100vh - 128px);
  display: flex;
}


/* Hamburger Menu */

.hamburger {
  position: relative;
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
  transition-duration: 200ms;
  z-index: 20;
}

.open.hamburger {
  position: fixed;
  top: 26px;
  right: 24px;
}

.hamburger__top,
.hamburger__middle,
.hamburger__bottom {
  position: absolute;
  width: 24px;
  height: 3px;
  background: #fff;
  top: 0;
  left: 0;
  transform: rotate(0deg);
  transition: all 0.5s;
}

.hamburger__middle {
  transform: translateY(8px);
}

.hamburger__bottom {
  transform: translateY(16px);
}

.open {
  transform: rotate(90deg);
}

.open .hamburger__top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
  background: #000;
}

.open .hamburger__middle {
  display: none;
}

.open .hamburger__bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
  background: #000;
}

.hamburger__menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.95);
  transform: translateX(100%);
  opacity: 0;
}

.open.hamburger__menu {
  transform: translateX(0);
  opacity: 1;
}

.menu__open {
  overflow-y: hidden;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.animated-bg {
  background-image: linear-gradient(to right, #374151 0%,
  #343d4d 10%, #374151 20%, #374151 100%);
  background-size: 200% 100%;
  animation: bgPos 1s linear infinite;
}

@keyframes bgPos {
  0% {
    background-position: 50% 0;
  }
  100% {
    background-position: -150% 0;
  }
}